.description {
    max-width: 500px;
}

.header {
    background: #333;
    display: flex;
}
.header__title {
    background: #1e1e1e;
    color: #eee;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-weight: normal;
    font-size: 12px;
    font-feature-settings: "liga" 0, "calt" 0;
    padding: 10px 20px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
